.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
}
.my-5 {
    margin-top: 3rem!important;
    margin-bottom: 3rem!important;
}
.row {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x)/ 2);
    padding-left: calc(var(--bs-gutter-x)/ 2);
    margin-top: var(--bs-gutter-y);
}
/* Apply styles to the <thead> element */
.table thead {
    background-color: #f8f9fa; /* Set your desired background color */
    font-weight: bold;
  }
  
  /* Center the text and icons in the header cells */
  .table th {
    text-align: center;
  }
  
  /* Style the "Add" button to display on a single line */
  .btn-primary.mb-3 {
    display: inline-block;
    margin-right: 10px; /* Add space between the button and the table */
  }
  
  /* Adjust the margin below the table */
  .table {
    margin-bottom: 20px; /* Add your preferred margin value */
  }
  
.table {
    --bs-table-bg: transparent;
    --bs-table-striped-color: #212529;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #212529;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #212529;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
    border-color: #dee2e6;
}

table {
    caption-side: bottom;
    border-collapse: collapse;
}
.heading-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.property-heading {
    display: inline-block;
    margin: 0;
  }
  
  .add-button {
    display: inline-block;

    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }